body {
  background-image: url("../img/white-wall.png");
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #0000;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.cards-container {
  margin-top: 80px; /* Ajusta la cantidad de espacio según tus preferencias */
}
.footer{
  background-color: #829460 !important;
}
.footer-link {
  color: #F2E3DB;
}
.footer-link p{
  color: #F2E3DB;
}